/* Base Styles */
.content-score-report__block * {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Helvetica, 'Lucida Grande', Arial, sans-serif;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.content-score-report__block b {
  font-weight: bold;
}

.content-score-report__block a {
  text-decoration: none;
}

.content-score-report__block {
  background: #f9f9f9;
}

.content_score_report__headline {
  padding: 10px 20px;
  background: #343131;
  color: #b3b3b3;
  font-size: 17px;
  line-height: 23px;
}

.content-score-report__table {
  display: table;
  width: 100%;
  padding: 10px 20px 15px 20px;
}

.content-score-report__row {
  display: table-row;
  width: 100%;
}

.content-score-report__cell {
  display: table-cell;
  position: relative;
  width: 100%;
  padding: 3px 0;
  text-align: right;
  vertical-align: top;
}

.content-score-report__cell-header {
  text-align: left;
  font-weight: bold;
}

.content-score-report__info {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #666;
}

.content-score-report__score {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  background: #e7f2fa;
  font-size: 14px;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.content-score-report__score-total .content-score-report__score {
  background: #27ae60;
  color: #fff;
  font-size: 18px;
  text-shadow: none;
}

.content-score-report__score-total .content-score-report__info {
  font-style: italic;
}

.content-score-report__msg {
  padding: 10px 20px;
  font-size: 12px;
  background: #fbe9d9;
}

.content-score-report__loading {
  float: right;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.content-score-report__loading i {
  color: #666;
}

.content-score-report__details {
  padding: 10px;
  font-size: 11px;
  line-height: 17px;
  background: #e7f2fa;
}

.content-score-report__details i {
  font-size: 11px;
}

.content-score-report__details span {
  font-size: 11px;
}

.content-score-report__date {
  border-bottom: 1px dotted #333;
  cursor: pointer;
}

.content-score-report__form {
  padding: 15px 20px;
  border-top: 1px dotted #ccc;
}

.content-score-report__input {
  width: 100%;
  height: 30px;
  margin-bottom: 7px;
  border: 1px solid #d5d5d5;
  font-size: 13px;
  line-height: 30px;
  color: #666;
}

.content-score-report__label,
.content-score-report__label span {
  font-size: 10px;
  font-weight: bold;
  color: #666;
}

.content-score-report__label span {
  font-weight: normal;
}

.content-score-report__button {
  width: 100%;
  margin-top: 8px;
  padding: 8px 0;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  background: #6ab0de;
  color: #fff;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transition: background .3s;
}

.content-score-report__button:hover {
  background: #2980b9;
}

.content-score-report__radio {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 7px;
  font-size: 12px;
}

.content-score-report__radio input {
  margin: 0 5px 0 2px;
}

.content-score-report__clear {
  overflow: hidden;
}

.content-score-report__headline {
  padding: 8px 20px;
  background: #fefefe;
}

.content-score-report__headline .fa {
  float: right;
  line-height: 22px;
  color: #ccc;
  transition: color .3s;
}

.content-score-report__headline:hover .fa {
  color: #2980b9;
}

.content-score-report__scores {
  display: none;
}
